@media screen and (max-width: 500px) {
    body {
	width:100%;
        background-color: #edeff2;
    }

#vis {
    width:100%;
position:absolute;
  vertical-align:bottom;
	font: 12px sans-serif;
  }
#header {
text-align:center;
}
#left_column {
    width: 150%;
  vertical-align:top;
	font: 14px sans-serif;
	color:darkslategrey;
  }
div.tooltip {
    position: absolute;			
    text-align: center;
    width:40px;								
    padding: 2px;				
    font: 12px sans-serif;
    display: table;		
    background-color: lightgrey;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}
svg {
	width: auto;
	height: auto;
}
	polygon:hover, polygon.highlighted {
  stroke: orange;
	stroke-width: 4;
}
}
